@tailwind base;
@tailwind components;
@tailwind utilities;

.card-pattern {
  background-image: radial-gradient(#27272a 1px, transparent 0);
  background-position: 50% center;
  background-size: 20px 20px;
  position: relative;
}

.shining {
  width: 100%;
  height: 100%;
  position: relative;
}

.shining::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  transition: opacity 500ms;
  background: radial-gradient(
    1000px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.6),
    transparent 20%
  );
  z-index: 1;
}

.shining:hover::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  transition: opacity 500ms;
  z-index: 3;
}

.shining-content {
  background-color: #111;
  inset: 1px;
  position: absolute;
  z-index: 2;
  color: white;
  display: flex;
}
